<%= form_for :tenant, url: tenant_sessions_path do |form| %>
  

  <div class="jumbotron">
<h5 class="display-4">
<%= "Please Enter your Shop Name"%>
</h5>
<br>
 
    <h5 class="display-4">
    <%= form.text_field :name %>
    </h5>
    <br>
    <div>
      <%= form.submit"Submit", class:"btn btn-primary"%>
    </div>
</div>
   
<% end %>